@model IEnumerable<WebDesignEveryThinkMVC.Entity.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5 mt-5">
    <h2>Kategori Listesi</h2>

    <p>
        @Html.ActionLink("Yeni Kategori", "Create",null, new {@class="btn btn-dark"})
    </p>

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th style="width: 125px"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class="btn btn-info btn-sm"})
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm"})
                </td>
            </tr>
        }

    </table>

</div>

